.collection_section{
    border: 1px solid black;
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 950px;
    height: 401px;
    border-radius: 20px;
}

.collectionContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    position: relative;
    top: 20px;
    padding: 10px 20px 0px 20px;
}