.homepage{
    width: 100vw;
    height: 100vh;
    background: url("../BackgroundImages/Background_image.jpg");
    background-color: lightgrey 50%;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    background-position: center;
    /* border: 1px solid black; */
}
/* .homepage_container{
    margin-bottom: 50%;
} */
.container1{
    font-family: "SF Pro";
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    /* line-height: 120%; */
    font-style: normal;
    position: absolute;
    top: 40%;
    left: 12%;
    /* border: 1px solid white; */

    
}
.container2{ 
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
    /* border: 1px solid white; */
    margin-top: 15px;
}
.btn_1{
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 65%;
    gap: 20px;
    /* border: 1px solid white; */
    left: 10.7%;
}
.btn_2{
    background-color: unset;
    border: 2px solid white;
}