.homepage{
    width: 100vw;
    height: 150vh;
    background: url("./Background_image.jpg");
    background-color: lightgrey 50%;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    background-position: center;
    /* border: 1px solid black; */
}
/* .backgroundImage{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(270deg, rgba(48, 48, 48, 0.90) 44.5%, rgba(0, 0, 0, 0.00) 100%);
    mix-blend-mode: multiply;
    z-index: -1;
} */

.lagos{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    /* line-height: 120%; */
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 12%;
    
}
p{
    font-size: large;

}