.homepage{
    width: 100vw;
    height: 150vh;
    background: url("../BackgroundImages/Background_image.jpg");
    background-color: lightgrey 50%;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    background-position: center;
    /* border: 1px solid black; */
}
.homepage_container{
    /* display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px; */
    border: 1px solid white;
}
.container1{
    font-family: "SF Pro Text";
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    /* line-height: 120%; */
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 12%;
    /* border: 1px solid white; */

    
}
.container2{ 
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
    /* border: 1px solid white; */
    margin-top: 20px;
}
.btn_1{
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 80%;
    gap: 20px;
    /* border: 1px solid white; */
    left: 11%;
}
.btn_2{
    background-color: unset;
    border: 2px solid white;
}