.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 20px;
    background: #FFF;
    box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
.navbar1{
    display: flex;
    padding-left: 200px;
    align-items: center;
    gap:10px;
    cursor: pointer;
    /* border: 1px solid black; */

}
ul:hover{
    color: #0486A8;
    transition: 1s;
}
.list{
    display: flex;
    gap: 30px;
}
.navbar2{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 200px;
    /* border: 1px solid black; */
    
}
.log-in:hover{
    color: #0486A8;
    transition: 1s;
    cursor: pointer;
}

.cleanCity{
    font-family: "SF Pro Text";
    font-weight: bolder;
    color: #0486A8;
    font-size: 24px;
    padding-right: 50px;
}
.city{
    color: #00CA5B;
}
.ul{
    /* border: 1px solid black; */
    position: relative;
    top: 3px;

}