.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 20px;
    background: #FFF;
    box-shadow: 0px -5px 30px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
.navbar1{
    display: flex;
    padding-left: 200px;
    align-items: center;
    gap:10px;
    cursor: pointer;
    /* border: 1px solid black; */

}
.dropdown:hover{
    color: #0486A8;
    transition: 1s;
}
.list{
    display: flex;
    gap: 70px;
    font-size: 17px;
}
.navbar2{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 200px;
    
    /* border: 1px solid black; */
    
}
.log_in:hover{
    color: #0486A8;
    transition: 1s;
    cursor: pointer;
    font-weight: bolder;
}

.cleanCity{
    font-family: "SF Pro";
    font-weight: bolder;
    color: #0486A8;
    font-size: 24px;
    padding-right: 50px;
}
.city{
    color: #00CA5B;
}
ul>span{
    /* border: 1px solid black; */
    position: relative;
    top: 4px;
}
@media screen and (max-width: 1440px) {
    .navbar{
      display: flex;
      justify-content: space-between;
      padding: 20px;
    }
    .navbar1 img{
        /* border: 1px solid black; */
        position: relative;
        right: 80px;     
    }
  .cleanCity{
    /* border: 1px solid black; */
    position: relative;
    right: 80px;  
    }
    .log_in{
        /* border: 1px solid black; */
        width: 70px;

    }
    .list{
        display: flex;
        align-items: center;
        gap: 50px;
        position: relative;
        right: 100px;
        /* border: 1px solid black; */
    }
    .dropdown{
        display: flex;
        /* border: 1px solid black; */
    }
    .navbar2{
        /* border: 1px solid black; */
        position: relative;
        left: 100px;
        display: flex;
        gap: 30px;

    }
}
  