.services{
    width: 250px;
    height: 250px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 110%;
    left: 30%;
    background-color: white;
    border-radius: 10px;
    
}
ul{
    list-style: none;
    color: black;
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
}

