.footer_container{
    width: 100vw;
    height: 500px;
    background-color: #0486A8; 
}
.footerList{
    display: flex;
    /* border: 1px solid black; */
    width: 1500px;
    position: relative;
    top: 40px;
    left: 300px;
    gap: 30px;
    
}
.footerList > ul{
    color: white;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    /* border: 1px solid black; */

}
.footerList > ul > li:nth-child(1){
    font-size: 23px;
    font-weight: 700;
}
.socialMediaLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
    bottom: 70px;
    color: white;
    /* border: 1px solid black; */
    gap: 30px;
}
.socialMedia_logo{
    width: 50px;
    height: 30px;
}
.line{
    /* display: block; */
    width: 1470px;
    height: 0px;
    border: 1px solid white;
    position: relative;
    top: 100px;
    left: 320px; 
}
.logo_footer{
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
    align-items: center;
    width: 150px;
    position: relative;
    top: 150px;
    left: 315px;  
}
.logo_footer > .cleanCity{
    font-family: "SF Pro";
    font-weight: bolder;
    color: white;
    font-size: 24px;
    padding-right: 50px;
    letter-spacing: 1px;
}
.logo_footer > .cleanCity > .city{
    color: #00CA5B;
}
.copyright_container{
    position: relative;
    left: 1310px;
    top: 120px;
    
}
.copyright_container p{
    color: white;
    letter-spacing: 1px;
}
.copyright_container p span{
    margin-left: 20px;
}
@media screen and (max-width: 1440px){
    .footer_container{
        width: 100vw;
    }
    .footerList{
        /* border: 1px solid black; */
        position: relative;
        top: 40px;
        left: 80px;
        gap: 20px;
    }
    .footerList > ul > li:nth-child(1){
        font-size: 18px;
        font-weight: 500;
    }
    .line{
        position: relative;
        left: 80px;
    }
    .logo_footer{
        position: relative;
        left: 80px;
    }
    .copyright_container{
        position: relative;
        left: 800px;
        top: 120px;
        
    }
    .socialMediaLogo{
        position: relative;
        left: 90px;
    }
    .socialMedia_logo{
        width: 40px;
        height: 20px;
    }
}